<ion-header>
  <ion-toolbar>
   
<ion-back-button defaultHref="home" color="success" slot="start"></ion-back-button>
    
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success">
  <ion-card>
    <ion-card-header>
      <ion-title>Registrar</ion-title>
    </ion-card-header>
    <ion-card-content>
     <ion-item lines="full">
        <ion-label color="success" position="floating">Usuario</ion-label>
        <!-- Usamos ngModel para indicarle al input el objeto a utilizar-->
        <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <!-- Usamos ngModel para indicarle al input el objeto a utilizar-->
        <ion-label color="success" position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password1"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <!-- Usamos ngModel para indicarle al input el objeto a utilizar-->
        <ion-label color="success" position="floating"> Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password2"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <!-- Indicamos mediante el (click) la funcion a quien referenciara-->
          <ion-button color="success" expand="full" (click)="guadar()">Registrar</ion-button>
         
        </ion-col> 
      </ion-row>
    </ion-card-content>
  </ion-card>
  
</ion-content>